@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;500;800&display=swap');

h1 {
font-family: 'Fira Sans', sans-serif;
font-weight:800;
}

h2,h3 {
  font-family: 'Fira Sans', sans-serif;
  color:#17223B;
  font-weight:500;
}

h4 {
  font-family: 'Fira Sans', sans-serif;
  font-weight:800;
}

.MuiAppBar-colorPrimary {
  background-color:white !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
